#_rcomment_div {
	position: absolute;
	background-color: #fff;
	background-color: rgba(255,255,255,.9);
	max-width: 500px;
	padding: 0;
	border: solid 1px darkgray;
	z-index: 2147483647; /* One more than 'Use subreddit style' option */
}

._rcomments_comment {
	border: solid 1px rgb(230, 230, 230);
	border-radius: 3px;
	font-family: verdana, arial, helvetica, sans-serif;
	margin: 0 8px 8px 10px;
	padding: 5px 5px 5px 8px;
	background-color: white;
}

._rcomments_loading {
	padding: 10px;
}

._rcomments_next_reply, ._rcomments_next_comment {
	cursor: pointer;
}

._rcomments_next_reply, ._rcomments_no_reply {
	padding-bottom: 5px;
}

._rcomments_next_reply:hover {
	text-decoration: underline;
}

._rcomments_comment:nth-child(even) {
	background-color: rgb(247, 247, 248);
}

._rcomments_content {
	padding-top: 5px;
}

._rcomments_next_comment {
	text-align: center;
	padding: 8px;
	font-size: 12px;
	background-image: linear-gradient(to bottom, rgba(255,255,255,.9), rgba(0, 0, 0, .2));
}

._rcomments_next_comment:hover {
	background-image: linear-gradient(to bottom, rgba(255,255,255,.9), rgba(0, 0, 0, .3));
}
._rcomments_next_comment_none, ._rcomments_no_reply {
	color: lightgray;
}
